@import url("reset.css");

/**********************************************
GLOBAL VARIABLES
**********************************************/


/**********************************************
HTML SELECTORS
**********************************************/

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main{
  margin: auto;
  margin-top: 60px;
  width: 260px;
}

button:hover{
  border: 2px solid yellow;
}

footer{
  margin-top: 30px;
  text-align: center;
}

footer>p{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>p>a{
  padding-left: 10px;
}

footer>p>a:hover{
  transform: scale(1.1);
}

/**********************************************
ID SELECTORS 
**********************************************/

#calculator{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #669BBC;
  border-radius: 10px;
}

#buttons{
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 3px;
}

#buttons>button{
  height: 60px;
  font-size: 20px;
  font-weight: bold;
}

#buttons>#clear{
  grid-column: span 2;
  height: 40px;
  border-radius: 10px;
  background-color: #C1121F;
  color: #FDF0D5;
}

#buttons>#back{
  grid-column: span 2;
  height: 40px;
  border-radius: 10px;
  background-color: #C1121F;
  color: #FDF0D5;
}

#decimal{
  background-color: #005D8F;
  border-radius: 10px;
  color: #FDF0D5;
}

#solve{
  border-radius: 10px;
  background-color: #C1121F;
  color: #FDF0D5;
}

#screen{
  align-self: stretch;
  margin: 10px 5px 10px 5px;
  padding: 5px 5px 5px 5px;
  font-size: 25px;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 10px;
  background-color: #FDF0D5;
  color: #003049;
  display: grid;
  grid-template-rows: 24px 40px;
  text-align: right;
  align-items: center; 
}

#tracker{
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#display{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/**********************************************
CLASS SELECTORS
**********************************************/

.number{
  background-color: #003049;
  border-radius: 10px;
  color: #FDF0D5;
}

.operator{
  background-color: #780000;
  border-radius: 10px;
  color: #FDF0D5;
}

/**********************************************
MEDIA 
**********************************************/

